# Challenge 1

In [5]:
import nltk

In [6]:
 nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [4]:
from nltk.corpus import brown

In [7]:
brown.words()[0:10]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of']

In [8]:
brown.tagged_words()[0:10]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN')]

In [10]:
text = 'Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.'

/Users/Menazina/opt/anaconda3/lib/python3.7/site-packages/IPython/core/inputtransformer2.py:481: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  warnings.warn("`make_tokens_by_line` received a list of lines which do not have lineending markers ('\\n', '\\r', '\\r\\n', '\\x0b', '\\x0c'), behavior will be unspecified")

In [11]:
from nltk import sent_tokenize, word_tokenize

In [13]:
sent_tokenize(text)

['Ironhack is a Global Tech School ranked num 2 worldwide.',
 'Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do.',
 'This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course.',
 'We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.']

In [14]:
word_tokenize(text)

['Ironhack',
 'is',
 'a',
 'Global',
 'Tech',
 'School',
 'ranked',
 'num',
 '2',
 'worldwide',
 '.',
 'Our',
 'mission',
 'is',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'careers',
 'and',
 'join',
 'a',
 'thriving',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 '.',
 'This',
 'ideology',
 'is',
 'reflected',
 'in',
 'our',
 'teaching',
 'practices',
 ',',
 'which',
 'consist',
 'of',
 'a',
 'nine-weeks',
 'immersive',
 'programming',
 ',',
 'UX/UI',
 'design',
 'or',
 'Data',
 'Analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one-week',
 'hiring',
 'fair',
 'aimed',
 'at',
 'helping',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 '.',
 'We',
 'are',
 'present',
 'in',
 '8',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 '9',
 'locations',
 '-',
 'Madrid',
 ',',
 'Barcelona',
 ',',
 'Miami',
 ',',
 'Paris',
 ',',
 'Mexico',
 'City',
 ',',
 'Berlin',
 ',',
 'Amsterdam',
 ',',
 'Sao',
 'Paulo',
 'and',
 'Lisbon',
 '.']

# Challenge 2

In [45]:
from nltk.corpus import stopwords
import re
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [30]:
def clean_up(s):
    clean = ["http://?.+", "\W+|\d+"]
    s = s.lower()
    for i in clean:
        s = re.sub(i, " ",s)
    s = s.split()
    s = " ".join(s)
    return s

In [31]:
def tokewords (s):
    s = word_tokenize(s)
    return s

In [32]:
clean_up("@Ironhack's-#Q website 776-is http://ironhack.com [(2018)]")

'ironhack s q website is'

In [34]:
lemmatizer = WordNetLemmatizer()

In [35]:
lemmatizer.lemmatize('was')

'wa'

In [36]:
lemmatizer.lemmatize('runs', pos='v')

'run'

In [48]:
test = '''Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from data in various forms, both structured and unstructured,[1][2] similar to data mining. \nData science is a "concept to unify statistics, data analysis, machine learning and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It employs techniques and theories drawn from many fields within the context of mathematics, statistics, information science, and computer science. \nTuring award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.\nIn 2012, when Harvard Business Review called it "The Sexiest Job of the 21st Century",[6] the term "data science" became a buzzword. It is now often used interchangeably with earlier concepts'''
s = tokewords(clean_up(text))
s

['ironhack',
 'is',
 'a',
 'global',
 'tech',
 'school',
 'ranked',
 'num',
 'worldwide',
 'our',
 'mission',
 'is',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'careers',
 'and',
 'join',
 'a',
 'thriving',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 'this',
 'ideology',
 'is',
 'reflected',
 'in',
 'our',
 'teaching',
 'practices',
 'which',
 'consist',
 'of',
 'a',
 'nine',
 'weeks',
 'immersive',
 'programming',
 'ux',
 'ui',
 'design',
 'or',
 'data',
 'analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one',
 'week',
 'hiring',
 'fair',
 'aimed',
 'at',
 'helping',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 'we',
 'are',
 'present',
 'in',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 'locations',
 'madrid',
 'barcelona',
 'miami',
 'paris',
 'mexico',
 'city',
 'berlin',
 'amsterdam',
 'sao',
 'paulo',
 'and',
 'lisbon']

In [51]:
def stem_and_lemmatize(l):
    lemm = []
    porter = PorterStemmer()
    lem =  WordNetLemmatizer()
    stem = list(map(porter.stem,s))
    for i in s:
        lemm.append(lem.lemmatize(i, pos = 'v'))
    return lemm

In [52]:
stem_and_lemmatize(s)

['ironhack',
 'be',
 'a',
 'global',
 'tech',
 'school',
 'rank',
 'num',
 'worldwide',
 'our',
 'mission',
 'be',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'career',
 'and',
 'join',
 'a',
 'thrive',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 'this',
 'ideology',
 'be',
 'reflect',
 'in',
 'our',
 'teach',
 'practice',
 'which',
 'consist',
 'of',
 'a',
 'nine',
 'weeks',
 'immersive',
 'program',
 'ux',
 'ui',
 'design',
 'or',
 'data',
 'analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one',
 'week',
 'hire',
 'fair',
 'aim',
 'at',
 'help',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 'we',
 'be',
 'present',
 'in',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 'locations',
 'madrid',
 'barcelona',
 'miami',
 'paris',
 'mexico',
 'city',
 'berlin',
 'amsterdam',
 'sao',
 'paulo',
 'and',
 'lisbon']

In [53]:
def remove_stopwords(l):
    stopwords_en = stopwords.words('english')
    clean_words = []
    for w in l:
        if w not in stopwords_en:
            clean_words.append(w)
    return clean_words

In [54]:
print(len(stem_and_lemmatize(s)), len(remove_stopwords(stem_and_lemmatize(s))))

100 62

# Challenge 3

In [56]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [62]:
import zipfile
import pandas as pd

In [65]:
zf = zipfile.ZipFile("Sentiment140.csv.zip")
df = pd.read_csv(zf.open("Sentiment140.csv"))

In [66]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [73]:
txt = "Ironhack is a Global Tech School ranked num 2 worldwide. Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."

In [74]:
analyzer = SentimentIntensityAnalyzer()

In [75]:
analyzer.polarity_scores(txt)

{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}

In [76]:
df2 = df.sample(n = 20000)
df2.head()

,target,id,date,flag,user,text,text_processed
1485880,4,2067961661,Sun Jun 07 13:15:26 PDT 2009,NO_QUERY,Stripes_Eckit,@Stripes_Megs where the hell are you? you're ...,"[ironhack, global, tech, school, rank, num, wo..."
372520,0,2050756845,Fri Jun 05 19:14:18 PDT 2009,NO_QUERY,chyeahitsalicia,@imdamama I doooo love you! I had class tonight?,"[ironhack, global, tech, school, rank, num, wo..."
458112,0,2071786815,Sun Jun 07 19:55:37 PDT 2009,NO_QUERY,Momto3blessings,Dory walked out of her room and said MOM DO NO...,"[ironhack, global, tech, school, rank, num, wo..."
1128305,4,1975329749,Sat May 30 14:55:54 PDT 2009,NO_QUERY,xdiamndzx,@PaulaAbdul i luv ur jewlerry the best ever! ...,"[ironhack, global, tech, school, rank, num, wo..."
1003930,4,1880363604,Fri May 22 00:58:54 PDT 2009,NO_QUERY,i_knowmyrank,@gelr0cks hehe! You love me for that! If you g...,"[ironhack, global, tech, school, rank, num, wo..."

In [77]:
df2["text_processed"] = df2.text.apply(lambda x:remove_stopwords(stem_and_lemmatize(tokewords(clean_up(x)))))

In [72]:
df2["text_processed"].head(10)

0    [ironhack, global, tech, school, rank, num, wo...
1    [ironhack, global, tech, school, rank, num, wo...
2    [ironhack, global, tech, school, rank, num, wo...
3    [ironhack, global, tech, school, rank, num, wo...
4    [ironhack, global, tech, school, rank, num, wo...
5    [ironhack, global, tech, school, rank, num, wo...
6    [ironhack, global, tech, school, rank, num, wo...
7    [ironhack, global, tech, school, rank, num, wo...
8    [ironhack, global, tech, school, rank, num, wo...
9    [ironhack, global, tech, school, rank, num, wo...
Name: text_processed, dtype: object

In [78]:
bag_words=[]
for i in df2['text_processed']:
    bag_words += i

In [79]:
from nltk.probability import FreqDist

In [80]:
fdist = FreqDist(bag_words)

In [81]:
frecuencias = fdist.most_common(5000)
frecuencias

[('tech', 40000),
 ('help', 40000),
 ('career', 40000),
 ('course', 40000),
 ('ironhack', 20000),
 ('global', 20000),
 ('school', 20000),
 ('rank', 20000),
 ('num', 20000),
 ('worldwide', 20000),
 ('mission', 20000),
 ('people', 20000),
 ('transform', 20000),
 ('join', 20000),
 ('thrive', 20000),
 ('community', 20000),
 ('professionals', 20000),
 ('love', 20000),
 ('ideology', 20000),
 ('reflect', 20000),
 ('teach', 20000),
 ('practice', 20000),
 ('consist', 20000),
 ('nine', 20000),
 ('weeks', 20000),
 ('immersive', 20000),
 ('program', 20000),
 ('ux', 20000),
 ('ui', 20000),
 ('design', 20000),
 ('data', 20000),
 ('analytics', 20000),
 ('well', 20000),
 ('one', 20000),
 ('week', 20000),
 ('hire', 20000),
 ('fair', 20000),
 ('aim', 20000),
 ('students', 20000),
 ('change', 20000),
 ('get', 20000),
 ('job', 20000),
 ('straight', 20000),
 ('present', 20000),
 ('countries', 20000),
 ('campuses', 20000),
 ('locations', 20000),
 ('madrid', 20000),
 ('barcelona', 20000),
 ('miami', 20000),
 ('paris', 20000),
 ('mexico', 20000),
 ('city', 20000),
 ('berlin', 20000),
 ('amsterdam', 20000),
 ('sao', 20000),
 ('paulo', 20000),
 ('lisbon', 20000)]

In [82]:
frecuencias_colums = [f[0] for f in frecuencias]

In [83]:
matrix=[]
for i in df2['text_processed']:
    filas = []
    for j in frecuencias_colums:
        if j in i:
            filas.append(True)
        else:
            filas.append(False)
    matrix.append(filas)

In [84]:
matrix_pd = pd.DataFrame(matrix, columns = frecuencias_colums, index = df2.index)

In [85]:
matrix_pd.head()

,tech,help,career,course,ironhack,global,school,rank,num,worldwide,...,barcelona,miami,paris,mexico,city,berlin,amsterdam,sao,paulo,lisbon
1485880,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
372520,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
458112,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1128305,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1003930,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [86]:
matrix_pd['is_positive'] = df2['target'].apply(lambda x:True if x==4 else False)

In [87]:
matrix_pd.head()

,tech,help,career,course,ironhack,global,school,rank,num,worldwide,...,miami,paris,mexico,city,berlin,amsterdam,sao,paulo,lisbon,is_positive
1485880,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
372520,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
458112,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1128305,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1003930,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [88]:
lista = []
for i in matrix_pd.index:
    dicc = {}
    for j in matrix_pd.columns[:-1]:
        dicc[j] = matrix_pd.loc[i,j]
    lista.append((dicc,matrix_pd.loc[i,"is_positive"]))

In [89]:
lista[10]

({'tech': True,
  'help': True,
  'career': True,
  'course': True,
  'ironhack': True,
  'global': True,
  'school': True,
  'rank': True,
  'num': True,
  'worldwide': True,
  'mission': True,
  'people': True,
  'transform': True,
  'join': True,
  'thrive': True,
  'community': True,
  'professionals': True,
  'love': True,
  'ideology': True,
  'reflect': True,
  'teach': True,
  'practice': True,
  'consist': True,
  'nine': True,
  'weeks': True,
  'immersive': True,
  'program': True,
  'ux': True,
  'ui': True,
  'design': True,
  'data': True,
  'analytics': True,
  'well': True,
  'one': True,
  'week': True,
  'hire': True,
  'fair': True,
  'aim': True,
  'students': True,
  'change': True,
  'get': True,
  'job': True,
  'straight': True,
  'present': True,
  'countries': True,
  'campuses': True,
  'locations': True,
  'madrid': True,
  'barcelona': True,
  'miami': True,
  'paris': True,
  'mexico': True,
  'city': True,
  'berlin': True,
  'amsterdam': True,
  'sao': True,
  'paulo': True,
  'lisbon': True},
 False)

In [90]:
training_set = lista[:19000]
testing_set = lista[19000:]

In [91]:
from nltk.classify import NaiveBayesClassifier
import nltk.classify.util

In [92]:
classifier = nltk.NaiveBayesClassifier.train(training_set)

In [93]:
print("Classifier accuracy percet", (nltk.classify.accuracy(classifier, testing_set))*100)

Classifier accuracy percet 51.7

In [94]:
classifier.show_most_informative_features(15)

Most Informative Features
                   miami = True            False : True   =      1.0 : 1.0
                    help = True            False : True   =      1.0 : 1.0
               immersive = True            False : True   =      1.0 : 1.0
                  school = True            False : True   =      1.0 : 1.0
               transform = True            False : True   =      1.0 : 1.0
                   weeks = True            False : True   =      1.0 : 1.0
                    nine = True            False : True   =      1.0 : 1.0
           professionals = True            False : True   =      1.0 : 1.0
                  lisbon = True            False : True   =      1.0 : 1.0
                     num = True            False : True   =      1.0 : 1.0
                 mission = True            False : True   =      1.0 : 1.0
                    hire = True            False : True   =      1.0 : 1.0
               worldwide = True            False : True   =      1.0 : 1.0
                      ux = True            False : True   =      1.0 : 1.0
                     sao = True            False : True   =      1.0 : 1.0