# Web Scrapping Â· 1

Im going to srapp the top ranked movies page from IMDB.

In [42]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [43]:
top_rated = req.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [44]:
top_rated

In [45]:
content = top_rated.content

In [46]:
soup = bs(content, 'html.parser')

In [47]:
soup.title.name

'title'

In [48]:
soup.title.string

'IMDb Top 250 - IMDb'

In [49]:
soup.p

In [50]:
soup.a

<a href="/?ref_=nv_home"><svg class="ipc-logo WNY8DBPCS1ZbiSd7NoqdP" height="56" version="1.1" viewbox="0 0 64 32" width="98" xmlns="http://www.w3.org/2000/svg"><g fill="#F5C518"><rect height="100%" rx="4" width="100%" x="0" y="0"></rect></g><g fill="#000000" fill-rule="nonzero" transform="translate(8.000000, 7.000000)"><polygon points="0 18 5 18 5 0 0 0"></polygon><path d="M15.6725178,0 L14.5534833,8.40846934 L13.8582008,3.83502426 C13.65661,2.37009263 13.4632474,1.09175121 13.278113,0 L7,0 L7,18 L11.2416347,18 L11.2580911,6.11380679 L13.0436094,18 L16.0633571,18 L17.7583653,5.8517865 L17.7707076,18 L22,18 L22,0 L15.6725178,0 Z"></path><path d="M24,18 L24,0 L31.8045586,0 C33.5693522,0 35,1.41994415 35,3.17660424 L35,14.8233958 C35,16.5777858 33.5716617,18 31.8045586,18 L24,18 Z M29.8322479,3.2395236 C29.6339219,3.13233348 29.2545158,3.08072342 28.7026524,3.08072342 L28.7026524,14.8914865 C29.4312846,14.8914865 29.8796736,14.7604764 30.0478195,14.4865461 C30.2159654,14.2165858 30.3021941,13.486105 30.3021941,12.2871637 L30.3021941,5.3078959 C30.3021941,4.49404499 30.272014,3.97397442 30.2159654,3.74371416 C30.1599168,3.5134539 30.0348852,3.34671372 29.8322479,3.2395236 Z"></path><path d="M44.4299079,4.50685823 L44.749518,4.50685823 C46.5447098,4.50685823 48,5.91267586 48,7.64486762 L48,14.8619906 C48,16.5950653 46.5451816,18 44.749518,18 L44.4299079,18 C43.3314617,18 42.3602746,17.4736618 41.7718697,16.6682739 L41.4838962,17.7687785 L37,17.7687785 L37,0 L41.7843263,0 L41.7843263,5.78053556 C42.4024982,5.01015739 43.3551514,4.50685823 44.4299079,4.50685823 Z M43.4055679,13.2842155 L43.4055679,9.01907814 C43.4055679,8.31433946 43.3603268,7.85185468 43.2660746,7.63896485 C43.1718224,7.42607505 42.7955881,7.2893916 42.5316822,7.2893916 C42.267776,7.2893916 41.8607934,7.40047379 41.7816216,7.58767002 L41.7816216,9.01907814 L41.7816216,13.4207851 L41.7816216,14.8074788 C41.8721037,15.0130276 42.2602358,15.1274059 42.5316822,15.1274059 C42.8031285,15.1274059 43.1982131,15.0166981 43.281155,14.8074788 C43.3640968,14.5982595 43.4055679,14.0880581 43.4055679,13.2842155 Z"></path></g></svg></a>

In [51]:
info_box = soup.table

In [52]:
info_box.tbody.a

<a href="/title/tt0111161/"> <img alt="The Shawshank Redemption" height="67" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45"/>
</a>

In [53]:
movie_table = soup.find('table',{'class':'chart full-width'})

In [54]:
head = movie_table.findAll("th")

In [55]:
head

[<th></th>,
 <th>Rank &amp; Title</th>,
 <th>IMDb Rating</th>,
 <th>Your Rating</th>,
 <th></th>]

In [56]:
head[3].text

'Your Rating'

In [57]:
head_txt = [i.text.replace('\n','') for i in head]

In [58]:
head_txt

['', 'Rank & Title', 'IMDb Rating', 'Your Rating', '']

In [59]:
head_txt.remove('Your Rating')

In [60]:
head_txt.remove( '')

In [61]:
head_txt

['Rank & Title', 'IMDb Rating', '']

In [62]:
body = movie_table.find('tbody')

In [63]:
body_tr = body.findAll('tr')

In [64]:
body_td = body.findAll('td')

In [65]:
body_td_txt = [str(i.text.replace('\n','')) for i in body_td]

In [66]:
body_td_txt[:6]

['  ',
 '      1.      The Shawshank Redemption(1994)',
 '9.2',
 '\xa012345678910 NOT YET RELEASED Seen',
 '',
 '  ']

In [67]:
body_td_txt.remove('  ')

In [68]:
body_td_txt.remove('\xa012345678910 NOT YET RELEASED Seen')

In [69]:
body_td_txt.remove('')

In [70]:
body_td_txt = [str(i.text.replace('\xa012345678910 NOT YET RELEASED Seen','')) for i in body_td]

In [71]:
body_td_txt.remove('\n\n\n\n\n\n \n ')

In [72]:
body_td_txt = [str(i.text.replace('\n','')) for i in body_td]

In [73]:
body_td_txt[:8]

['  ',
 '      1.      The Shawshank Redemption(1994)',
 '9.2',
 '\xa012345678910 NOT YET RELEASED Seen',
 '',
 '  ',
 '      2.      The Godfather(1972)',
 '9.1']

In [289]:
body_td_txt.remove('  ')

In [290]:
body_td_txt.remove('')

In [291]:
body_td_txt.remove('',)

In [292]:
body_td_txt.remove('  ')

In [293]:
j = 0
lst_lst = []
for i in range(0,len(body_td_txt),3):

    lst_lst.append(body_td_txt[j:i])
    j = i

In [294]:
lst_lst.pop(0)

[]

In [298]:
lst_lst[5]

["      6.      Schindler's List(1993)",
 '8.9',
 '\xa012345678910 NOT YET RELEASED Seen']

In [268]:
movie_table = pd.DataFrame(lst_lst, columns = head_txt)

In [154]:
movie_table.head()

,Rank & Title,IMDb Rating,
0,1. The Shawshank Redemption(1994),9.2,12345678910 NOT YET RELEASED Seen
1,2. The Godfather(1972),9.1,12345678910 NOT YET RELEASED Seen
2,3. The Godfather: Part II(1974),9.0,12345678910 NOT YET RELEASED Seen
3,4. The Dark Knight(2008),9.0,12345678910 NOT YET RELEASED Seen
4,5. 12 Angry Men(1957),8.9,12345678910 NOT YET RELEASED Seen

# Web Scrapping Â· 2

In [449]:
nobel_literature = req.get('https://en.wikipedia.org/wiki/List_of_Nobel_laureates')

In [450]:
nobel_literature

In [451]:
content_2 = nobel_literature.content

In [452]:
soup_2 = bs(content_2, 'html.parser')

In [453]:
soup_2.title.text

'List of Nobel laureates - Wikipedia'

In [454]:
soup_2.title.name

'title'

In [455]:
soup_2.title.string

'List of Nobel laureates - Wikipedia'

In [456]:
soup_2.p

<p class="mw-empty-elt">
</p>

In [457]:
soup_2.a

In [458]:
info_box = soup_2.table

In [459]:
info_box.tbody.a

In [460]:
hist_table = soup_2.find('table',{'class':'wikitable sortable jquery-tablesorter'})

In [461]:
hist_table[0]

TypeError: 'NoneType' object is not subscriptable

# Web Scrapping Â· 3

In [469]:
url='https://es.m.wikipedia.org/wiki/Milan_Baro%C5%A1#/random'

In [470]:
req_3 = req.get(url)

In [471]:
sopa_o = bs(req_3.content, 'html.parser')

In [472]:
resume = sopa_o.find_all('table',{'class':'wikitable center'})

In [473]:
box_3 = sopa_o.find('div', {'class':'mw-parser-output'})

In [475]:
h2 = box_3.findAll('h2')

In [476]:
a = h2[0].find('a')

In [480]:
header_f = box_3.findAll('th')

In [481]:
head_txt_o = [i.text.replace('\n','') for i in header_f]

In [482]:
head_txt_o

['Milan BaroÅ¡',
 'Datos personales',
 'Nacimiento',
 'Nacionalidad(es)',
 'Altura',
 'Carrera deportiva',
 'Deporte',
 'Club profesional',
 'Debut deportivo',
 'PosiciÃ³n',
 'Goles en clubes',
 'Retirada deportiva',
 'SelecciÃ³n nacional',
 'SelecciÃ³n',
 'Part.\xa0(goles)',
 'Mundial',
 'Sede',
 'Resultado',
 'Club',
 'PaÃ­s',
 'AÃ±o',
 'TÃ­tulo',
 'Club',
 'PaÃ­s',
 'AÃ±o',
 'TÃ­tulo',
 'Club (*)',
 'PaÃ­s',
 'AÃ±o',
 'DistinciÃ³n',
 'AÃ±o']